{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "overrides": [{ "files": ["*.json"], "options": { "tabWidth": 2 } }],
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
